@import './base.scss';

header {  
  color: $secondary-color;
  background-color: $primary-color;
  padding: 1rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;


  .header_title {
    font-size: 1.8rem;
    margin-bottom: 0;
  }
}

